body {
    font-family: Arial;
}
.add {
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 87, 0);
    font-weight: bold;
    color: white;
    padding: 8px;
}
.add:active {
    background-color: rgb(0, 121, 0);
}

.delete {
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #f2494c;
    color: white;
    padding: 6px;
}